/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  max-width: 1024px;
  padding-top: 10px;
}
.container .credit {
  margin: 20px 0;
}

/*code {
  font-size: 80%;
}*/
p {
  font-size: 1.25em;
  line-height: 1.5em;
  color: black;
}
* {
    font-family: 'Rokkitt', serif;
    font-size: 18px;
}

header {
    margin: 0 auto 4em auto;
    padding-top: 1em;
    text-align: center;
}

header h1 {
    font-size: 2em;
    letter-spacing: 0.2em;
    margin: 0;
}

header hr {
    border-top: 1px solid #000;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin: 1em 0;
}


.navbar-brand {
    font-family: 'Rokkitt', serif;
    list-style: none;
    float: right;
    font-size: 1.25em;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	 font-family: 'Rokkitt', serif;
	 font-size: 1.50em;
	 color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a{
	font-size: 1.25em;
}

.nav li {
    float: left;
    margin-right: 0.8em;
    padding: 0 0.8em 0 0;
}

.nav li:last-child {
    border: none;
    padding: 0;
    margin: 0;
}


.site-logo {
  float: left;
  height: 50px;
  margin-right:20px;
}
a {
    text-decoration: none;
    color: black;
}


a:hover, a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:not(.post-title):not(header ul li a):hover {
  color: #41ddff;
}

.post-preview .post-title, .post h1 {
  font-family: 'Rokkitt', serif;
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 0.25em;
}

.post h1{
  margin-bottom: 0px;
}

.post-meta {
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
}

.post-content {
  font-weight: 400;
  font-height: 1.25em;
  line-height: 1.5em;
}
.post-tags {
  font-style: normal;
  padding-top: .75em;
}

.post .post-meta, .post .post-tags {
  padding-bottom: .75em;
}

.tag-posts ul li, .archived-posts ul li {
  font-size: 18px;
}
/*
a:not(.plain):before {
  content: "\f0c1";
}
*/
a:not(.plain){
  text-decoration: none;
}
a:not(.plain):after {
  content: "\00a0\f0c1";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:rgba(46, 203, 255, 0.84);
    position:relative;
    padding-left: 0.1em;
    font-size: 0.75em;

}
a:not(.plain):after:hover{
  text-decoration: underline;
}

.read-more a{
	text-decoration: underline;
}
.read-more a::after{
	content:" \f178";
	text-decoration: none;
	color: "#000";
}

.post-summary p {
    padding: 0 30px 20px 30px;
    text-align: justify;
    font-style: italic;
    color: gray;
}

footer {
    text-align: center;
    padding-bottom: 4em;
}


/********************************
*
*  COMMENTS
*
********************************/

div#comments_ask {
    font-size: 1em;
    font-weight: 600;
}

div#comments_ask a {
    text-decoration: underline;
    color: #428bca;
}

div#comments_ask a::after {
	content: "";
}

div#comments_ask a::after {
	content: "\f08e";
	color: black;
	text-decoration: none;
}

.comment_ask {
	font_size:
}

.comment {
    background-color: transparent;
    border-color: #CACACA;
    border-style: solid;
    border-width: 1px;
    color: black;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
  }

.comment .commentheader {
  border-bottom-color: #CACACA;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: black;
  background-image: -webkit-linear-gradient(#F8F8F8,#E1E1E1);
  background-image: -moz-linear-gradient(#F8F8F8,#E1E1E1);
  color: black;
  display: block;
  float: left;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 33px;
  line-height: 33px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px;
  text-overflow: ellipsis;
  text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
  white-space: nowrap;
  width: 100%;
}

.comment .commentheader .commentgravatar {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: white;
  background-image: none;
  background-origin: padding-box;
  border-color: #C8C8C8;
  border-style: solid;
  border-width: 1px;
  color: black;
  display: inline-block;
  float: none;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 1px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1px;
  margin-left: 5px;
  margin-right: 3px;
  margin-top: -2px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 1px;
  text-overflow: clip;
  text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
  vertical-align: middle;
  white-space: nowrap;
  width: 20px;
}

.comment .commentheader a:link {
  text-decoration: none;
}

.comment .commentheader a:hover {
  border-bottom:1px solid;
}


.comment .commentheader .commentuser {
  background-color: transparent;
  color: black;
  display: inline;
  float: none;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 0px;
  line-height: 16px;
  margin-left: 5px;
  margin-right: 10px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0px;
  text-overflow: clip;
  text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
  white-space: nowrap;
  width: 0px;
}

.comment .commentheader .commentdate {
  background-color: transparent;
  color: #777;
  display: inline;
  float: none;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 0px;
  line-height: 33px;
  margin: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0px;
  text-overflow: clip;
  text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
  white-space: nowrap;
  width: 20em;
}

.comment .commentbody {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  color: #333;
  display: block;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 40px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0em;
  position: static;
  width: 96%;
  word-wrap: break-word;
}

.comment .commentbody p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
}

.comment .commentbody pre {
  border: 0px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.comment .commentbody pre code {
  border: 0px solid #ddd;
}

.comment .commentbody code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}



/********************************
*
*  Social Share buttons
*
********************************/

.social .container{
	padding-right: 0;
}

.social .container div a::after{
	content:"";
}

/* Button styles: */
i.fb,       span.fb{     	color: #3b5998; }
i.tw,       span.tw{     	color: #00aced; }
i.google,   span.google{ 	color: #dd4b39; }
i.linkin,   span.linkin{ 	color: #007bb6; }
i.pinterest,span.pinterest{ color: #cb2027; }


.google-plus-one{
   overflow: hidden;
   position: relative;
}

.google-plus-one i{
   position: absolute;
   left: -12px;
   bottom: 2px;
}

.google-plus-one span{
   font-size: 16px; 
   font-weight: 900; 
   line-height: 10px;
   margin-left: 15px;
}

.disqus {
	margin-top: 4em;
}